<div style="color:#0000FF">

CLIENT IP : <%= @server %>
<br><br>
USER AGENT : <%= @user_agent %>
<br><br>
PATH INFO : <%= @path %>
<br><br>
ENCODING : <%= @encoding %>
<br><br>
SERVER PROTOCOL = <%= @protocol %>
<br><br>
<%= @cookie %>
<br><br>
REQUEST METHOD = <%= @reqm %>
<br><br>
HTTP CONNECTION = <%= @conn %>
<br>

</div>