<!DOCTYPE html>
<html>
<head>
  <title>Echoserver</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'shared/navbar' %>
	<h1>ECHO SERVER</h1>
	<hr>

<%= yield %>
<hr>
<footer>&copy; Lakshit Bhutani 
	<%= link_to image_tag("github" , size: "40x20" ) , "https://github.com/lakshit07/echoserver" , target: "_blank" %>
</footer>

</body>
</html>
